.blog-actions {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  & button {
    margin-top: 20px;
  }

  & .checkbox-draft {
    vertical-align: -20px;
  }
}

.blog-list {
  width: 300px;

  .blog-list-item {
    line-height: 1.8em;
    list-style-type: none;

    & mat-icon {
      font-size: 20px;
      vertical-align: -4px;
      width: 20px;
      height: 20px;
    }
    & span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .blog-list-item:hover {
    color: #076da6;
  }

  button.active {
    color: blue;
  }

  .draft {
    color: green;
  }
}
