<form class="blog-editor" [formGroup]="form" autocomplete="off">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="20px">
      <div class="editor-title" fxFlex="66">
        <input type="text" placeholder="Title" formControlName="title">
      </div>
      <div class="editor-tag" fxFlex="33" (click)="focusTagInput()">
        <span class="tag-item" *ngFor="let tag of tags">
          {{tag}}
          <span class="remove-tag" (click)="removeTag(tag)">×</span>
        </span>
        <input #tagInput type="text" class="input-tag" (keyup)="onKeyUp($event)" formControlName="tag">
      </div>
    </div>

    <div class="editor-controls" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div>
        <mat-icon class="cancel" (click)="back()">keyboard_backspace</mat-icon>
      </div>
      <div>
        <mat-icon class="save" (click)="save()">save</mat-icon>
      </div>
      <div>
        <mat-slide-toggle [labelPosition]="'before'" (change)="togglePreview()" [checked]="showPreview">
          <mat-icon class="preview">{{showPreview ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-slide-toggle>
      </div>
      <div>
        <mat-icon class="delete" (click)="delete()">delete</mat-icon>
      </div>
    </div>

    <div class="editor-content" fxLayout="row" fxLayoutGap="20px">
      <div class="editor-content-text" fxFlex="showPreview?50:100">
        <textarea placeholder="Content" cols="90" rows="40" spellcheck="false" formControlName="content"></textarea>
      </div>
      <div *ngIf="showPreview" class="editor-content-preview markdown-body" fxFlex="50" [innerHTML]="form?.controls?.content?.value | markdown"></div>
    </div>
  </div>
</form>